<!-- Loader -->
<div *ngIf="loading" class="loader">
  Chargement en cours...
</div>

<!-- Affichage des cartes si chargées -->
@if (!loading && cards.length > 0) {
  <div class="card-grid">
    @for (card of cards; track card.id) {
      <div class="pokemon-card">

        <!-- Image -->
        <div class="card-image">
          <img [src]="card.images.small" [alt]="card.name" />
        </div>

        <!-- Texte -->
        <div class="card-content">
          <div class="card-header">
            <h2>{{ card.name }}</h2>
            <span class="hp">❤️ {{ card.hp }} HP</span>
          </div>

          <div class="card-types">
            <span class="type-badge" *ngFor="let type of card.type">{{ type }}</span>
          </div>
        </div>

      </div>
    }
  </div>
} @else {
  <p>Aucune carte trouvée.</p>
}
