<!-- Error Message -->
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<!-- Button to create a post -->
<a [routerLink]="['/posts/create']" class="btn btn-sm btn-outline-secondary me-2">
  Crée un post
</a>

<!-- Posts List -->
<div class="row">
  <div *ngIf="posts?.length; else noPosts">
    <div *ngFor="let post of posts; trackBy: trackById" class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
        </div>
        <div class="card-footer text-end">
          <a (click)="onView(post.id ?? 0)" class="btn btn-sm btn-primary">Voir</a>
          <a (click)="onEdit(post.id ?? 0)" class="btn btn-sm btn-warning mx-2">Modifier</a>
          <a (click)="onDelete(post.id ?? 0)" class="btn btn-sm btn-danger">Supprimer</a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPosts>
    <p class="text-muted">Aucun post à afficher</p>
  </ng-template>
</div>
